$primarycolor-1: #323232;
$primarycolor-2: #0095FF;
$primarycolor-3: #AFAFAF;
$primarycolor-4: #ffffff;

$secondarycolor-1: #000000;
$secondarycolor-2: #0065AD;
$secondarycolor-3: #e1e1e1;
$secondarycolor-4: #fafafa;